<h1>Adicionar uma nova aula</h1>

<div>
  <h3>Adicionar um novo link</h3>

  <select [(ngModel)]="selectedFormacaoToAddLink" name="getFormacoes">
    <option value="">Selecione uma formação</option>
    <option *ngFor="let formacao of formacoes" [ngValue]="formacao">
      {{ formacao.name }}
    </option>
  </select>

  <input type="text" [(ngModel)]="novoLink" placeholder="Digite o link" />
  <input type="text" [(ngModel)]="codigoAcesso" placeholder="Digite o código de acesso" />
  <input type="date" [(ngModel)]="data" placeholder="Digite a data" />

  <button (click)="adicionarLink()">Adicionar</button>
</div>

<div>
  <h3>Enregistrements</h3>
  <!-- Section pour afficher les enregistrements -->

  <select [(ngModel)]="selectedFormacaoToShowAulas" (change)="getZooms()">
    <!-- Sélection de la formation pour afficher les enregistrements -->
    <option value="">Sélectionner une formation</option>
    <option *ngFor="let formacao of formacoes" [ngValue]="formacao">
      {{ formacao.name }}
    </option>
  </select>

  <div *ngIf="zoomsToShowByFormation">
    <!-- Affichage des enregistrements si une formation est sélectionnée -->
    <h4>{{ selectedFormacaoToShowAulas?.name }}</h4>
    <!-- Affichage du nom de la formation -->

    <ul>
      <li
        *ngFor="let zoom of zoomsToShowByFormation"
      >
        <!-- Boucle pour afficher chaque enregistrement -->
        {{ zoom.formationStr }} -
        <a [href]="zoom.lien">{{ zoom.lien }}</a>
        <!-- Affichage du nom et du lien de l'enregistrement -->
        <p>Code d'accès: {{ zoom.code }}</p>
        <!-- Affichage du code d'accès de l'enregistrement -->
      </li>
    </ul>
  </div>
</div>