<h1>Links das aulas para os alunos</h1>

<div>
  <h2>Escolha uma formação</h2>
  <select [(ngModel)]="selectedFormacaoToShowAulas" (change)="selectFormacao()">
    <option value="">Selecione uma formação</option>
    <option *ngFor="let formation of formations" [ngValue]="formation">
      {{formation.name }}
    </option>
  </select>
</div>

<div *ngIf="selectedFormacaoToShowAulas">
  <h3>Links para {{ selectedFormacaoToShowAulas.name }}</h3>
  <ul>
    <li *ngFor="let zoom of zoomsToShowByFormation">
      <h4>{{ zoom.formationStr }}</h4>
      <button (click)="openDialog(zoom.lien)">Assistir</button>
      <p>Código de Acesso: {{ zoom.code }}</p>
      <p>Data: {{ zoom.date }}</p>
    </li>
  </ul>
</div>
