<form [formGroup]="aulaForm" (ngSubmit)="adicionarAula()">
  <label for="titulo">Título:</label>
  <input id="titulo" formControlName="titulo" type="text" />
  
  <label for="descricao">Descrição:</label>
  <textarea id="descricao" formControlName="descricao"></textarea>
  
  <label for="dataInicio">Data inicio:</label>
  <input id="dataInicio" formControlName="dataInicio" type="date" />
  
  <label for="dataFim">Data fim:</label>
  <input id="dataFim" formControlName="dataFim" type="date" />
  
  <label for="horaInicio">Hora inicio:</label>
  <input id="horaInicio" formControlName="horaInicio" type="time" />
  
  <label for="horaFim">Hora fim:</label>
  <input id="horaFim" formControlName="horaFim" type="time" />
  
  <label for="professor">Professor:</label>
  <input id="professor" formControlName="professor" type="text" />
  
  <button type="submit">Adicionar Aula</button>
</form>

<full-calendar #calendar [options]="calendarOptions"></full-calendar>
