<!-- // quero que a pessoa possa selecionar a qual formaçao ela quer adicionar o calendario  -->
<h1>Créer des calendriers de formation</h1>

<form [formGroup]="aulaForm" (ngSubmit)="adicionarAula()">
  <label for="formacao">Formação:</label>
  <select id="formacao" formControlName="formacao">
    <option *ngFor="let formacao of formacoes" [value]="formacao.nome">
      {{ formacao.nome }}
    </option>
  </select>
  <div>
    <form [formGroup]="aulaForm" (ngSubmit)="adicionarAula()">
      <div>
        <label for="titulo">Título:</label>
        <input id="titulo" formControlName="titulo" />
      </div>
      <div>
        <label for="descricao">Descrição:</label>
        <input id="descricao" formControlName="descricao" />
      </div>
      <div>
        <label for="dataInicio">Data de Início:</label>
        <input type="date" id="dataInicio" formControlName="dataInicio" />
      </div>
      <div>
        <label for="dataFim">Data de Fim:</label>
        <input type="date" id="dataFim" formControlName="dataFim" />
      </div>
      <div>
        <label for="horaInicio">Hora de Início:</label>
        <input type="time" id="horaInicio" formControlName="horaInicio" />
      </div>
      <div>
        <label for="horaFim">Hora de Fim:</label>
        <input type="time" id="horaFim" formControlName="horaFim" />
      </div>
      <div>
        <label for="professor">Professor:</label>
        <input id="professor" formControlName="professor" />
      </div>
      <button type="submit">Adicionar Aula</button>
    </form>
  </div>

  <!-- <label for="dataInicio">Data inicio:</label>
    <input id="dataInicio" formControlName="dataInicio" type="date" />
    
    <label for="dataFim">Data fim:</label>
    <input id="dataFim" formControlName="dataFim" type="date" />
    
    <button type="submit">Adicionar Aula</button> -->
</form>
<div class="calendar">
<full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>
